$font-primary: 'Poppins', sans-serif;
$font-secondary: 'DM Sans', system-ui;

$color-gray: #666666;
$color-black: #000;
$color-white: #fff;
$color-primary: #42446e;
$color-transparent: transparent;
$gradient-primary: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
$gradient-secondary: linear-gradient(180deg, #e70faa 0%, #00c0fd 100%);
$gradient-tertiary: linear-gradient(180deg, #13b0f5 3%, #e70faa 100%);
$gradient-quaternary: linear-gradient(62.8deg, #00c0fd -167.81%, #e70faa 267.18%);